@charset "UTF-8";

#wrap {
  position: relative;
  min-width: 340px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--txt-color);
}

.inner {
  position: relative;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

@media (min-width: 1600px) {
  .inner {
    padding: 0 100px;
  }
}

.notScroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* color */
:root {
  --bg1-color: #e4e8f1;
  --bg2-color: #f3f5f9;
  --txt-color: #333;
  --txt-gray1: #6c7683;
  --txt-gray2: #8d9aaf;
  --txt-gray3: #b4bccc;
  --txt-blue: #376bdb;
  --key-color: #4b4dff;
  --key-light1: #6fa5f3;
  --key-light2: #ecf2ff;
}
.bg1 {
  background-color: var(--bg1-color);
}
.bg2 {
  background-color: var(--bg2-color);
}
.txt-color {
  color: var(--txt-color);
}
.txt-gray1 {
  color: var(--txt-gray1);
}
.txt-gray2 {
  color: var(--txt-gray2);
}
.txt-gray3 {
  color: var(--txt-gray3);
}
.txt-blue {
  color: var(--txt-blue);
}
.key-color {
  color: var(--key-color);
}
.key-light1 {
  color: var(--key-light1);
}
.key-light2 {
  color: var(--key-light2);
}

/* MOBILE부터 작업 */

/* 초기 상태 */
.scroll-fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
/* 애니메이션 실행 후 */
.scroll-fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* 사이드메뉴 열고닫기 */
.bkbg.open {
  opacity: 1;
  visibility: visible;
}
#sideM.open {
  right: 0;
}

/* 사이드메뉴 활성화일때 */
#sideM nav li.active {
  color: var(--key-color);
}

/* 메인 검색영역 카테고리탭 애니메이션 */
#customOptions li.active {
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* 공통버튼 */
.btn-common {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  color: #215bd8;
  font-size: 14px;
  background-color: #ecf2ff;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn-common:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.btn-common .arr {
  width: 11px;
  margin-left: 8px;
}
/* 버튼 비활성화 */
.btn-common.disabled {
  opacity: 0.5;
}

/* 공통 이미지 트랜지션 */
.img-hover {
  transition: transform 0.3s;
}
.img-hover:hover {
  transform: scale(1.1);
}

/* 공통 탭스타일 */
.tab-style {
  display: flex;
  gap: 4px;
  padding: 4px;
  color: #828293;
  background-color: #e4e8f1;
}
.tab-style li {
  border-radius: 8px;
}
.tab-style li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-style li.active {
  color: #333;
  background-color: #fff;
}

/* 공통 input */
.input-style {
  width: 100%;
  height: 100%;
  padding: 0 34px 0 10px;
  color: #333;
  border: 1px solid #e4e8f1;
  border-radius: 8px;
  background: #fff url(../images/search-ico-8D9AAF.png) no-repeat
    calc(100% - 18px) center/16px auto;
}
.input-style::placeholder {
  color: #b4bccc;
}
.input-style:hover,
.input-style:focus {
  border-color: #8d9aaf;
}
.input-style.disabled {
  color: #b4bccc;
  background-color: #f3f5f9;
  background-image: none;
}

/* 2줄 말줄임 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .research-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (min-width: 800px) {
  .reserch-highlight-swiper .swiper-slide {
    opacity: 0.5;
  }
  .reserch-highlight-swiper .swiper-slide-active {
    opacity: 1;
  }
}

.reserch-highlight-pagination span {
  width: 10px;
  height: 10px;
  background: #e4e8f1;
  opacity: 1;
}
.reserch-highlight-pagination .swiper-pagination-bullet-active {
  background: #4b4dff;
}

@media screen and (min-width: 1440px) {
  .reserch-highlight-pagination span {
    width: 11px;
    height: 11px;
  }
}

/* 줌버튼 비활성화 */
.disabled {
  opacity: 0.5;
}

/* 페이지 나눠졌을때 */
.flexPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
