@charset "UTF-8";

#wrap {
  position: relative;
  min-width: 340px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Pretendard Variable", "Pretendard", "-apple-system",
    "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  color: var(--txt-color);
}

.inner {
  position: relative;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

@media (min-width: 1600px) {
  .inner {
    padding: 0 100px;
  }
}

.notScroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* color */
:root {
  --bg1-color: #e4e8f1;
  --bg2-color: #f3f5f9;
  --txt-color: #333;
  --txt-gray1: #6c7683;
  --txt-gray2: #8d9aaf;
  --txt-gray3: #b4bccc;
  --txt-blue: #376bdb;
  --key-color: #4b4dff;
  --key-light1: #6fa5f3;
  --key-light2: #ecf2ff;
}
.bg1 {
  background-color: var(--bg1-color);
}
.bg2 {
  background-color: var(--bg2-color);
}
.txt-color {
  color: var(--txt-color);
}
.txt-gray1 {
  color: var(--txt-gray1);
}
.txt-gray2 {
  color: var(--txt-gray2);
}
.txt-gray3 {
  color: var(--txt-gray3);
}
.txt-blue {
  color: var(--txt-blue);
}
.key-color {
  color: var(--key-color);
}
.key-light1 {
  color: var(--key-light1);
}
.key-light2 {
  color: var(--key-light2);
}

/* MOBILE부터 작업 */

/* 초기 상태 */
.scroll-fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
/* 애니메이션 실행 후 */
.scroll-fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* 사이드메뉴 열고닫기 */
.bkbg.open {
  opacity: 1;
  visibility: visible;
}
#sideM.open {
  right: 0;
}

/* 사이드메뉴 활성화일때 */
#sideM nav li.active {
  color: var(--key-color);
}

/* 메인 검색영역 카테고리탭 애니메이션 */
#customOptions li.active {
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* 공통버튼 */
.btn-common {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  color: #215bd8;
  font-size: 14px;
  background-color: #ecf2ff;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn-common:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.btn-common .arr {
  width: 11px;
  margin-left: 8px;
}
/* 버튼 비활성화 */
.btn-common.disabled {
  opacity: 0.5;
}

/* 공통 이미지 트랜지션 */
.img-hover {
  transition: transform 0.3s;
}
.img-hover:hover {
  transform: scale(1.1);
}

/* 공통 탭스타일 */
.tab-style {
  display: flex;
  gap: 4px;
  padding: 4px;
  color: #828293;
  background-color: #e4e8f1;
}
.tab-style li {
  border-radius: 8px;
}
.tab-style li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-style li.active {
  color: #333;
  background-color: #fff;
}

/* 2줄 말줄임 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .research-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .reserch-highlight-swiper .swiper-slide {
    opacity: 0.5;
  }
  .reserch-highlight-swiper .swiper-slide-active {
    opacity: 1;
  }
}

.reserch-highlight-pagination span {
  width: 10px;
  height: 10px;
  background: #e4e8f1;
  opacity: 1;
}
.reserch-highlight-pagination .swiper-pagination-bullet-active {
  background: #4b4dff;
}

@media screen and (min-width: 1440px) {
  .reserch-highlight-pagination span {
    width: 11px;
    height: 11px;
  }
}

/* 줌버튼 비활성화 */
.disabled {
  opacity: 0.5;
}

/* 페이지 나눠졌을때 */
.flexPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width:1024px) {
  .flexPage {
    gap: 50px;
  }
}

/* 번위 슬라이더 */
.noUi-target {
  background: #e4e8f1;
  height: 4px;
  border-radius: 4px;
  border: none;
}

.noUi-connect {
  background-color: #4b4dff;
}

.noUi-handle {
  width: 16px !important;
  height: 16px !important;
  border: 2px solid #4b4dff !important;
  background: #fff !important;
  border-radius: 50%;
  box-shadow: none;
  top: -6px;
  transform: translateX(-50%);
  cursor: pointer;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

/* Journal List 타입별 */
.type-jcr {
  color: #532eb3;
}
.type-scopus {
  color: #f3652d;
}
.type-kci {
  color: #376bdb;
}

.regist-tpye-scie {
  color: #8d6de2;
  background-color: #ede7ff;
}
.regist-tpye-scopus {
  color: #f3652d;
  background-color: #ffe9e9;
}
.regist-tpye-kci {
  color: #376bdb;
  background-color: #ecf2ff;
}
.regist-tpye-ssci {
  color: #8d6de2;
  background-color: #ede7ff;
}

/* 저널리스트 그래프 열고닫기 */
.journal-graph-cont {
  overflow: hidden;
  transition: height 0.4s ease;
}

.journal-graph-cont.open {
}

/* 관심버튼 */
.intrest.active .interest-default {
  display: none;
}
.intrest.active .interest-active {
  display: block;
}
.intrest.active:hover .interest-hover {
  display: none;
}

/* 테이블 */
table {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
thead {
  border-top: 1px solid #e4e8f1;
  border-bottom: 1px solid #e4e8f1;
  background-color: #f3f5f9;
}
tbody {
}
tr {
}
tbody tr {
  border-bottom: 1px solid #e4e8f1;
}
th {
  padding: 10px 20px;
  color: #8d9aaf;
  font-weight: 500;
  white-space: nowrap;
}
td {
  padding: 10px 20px;
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  th {
    padding: 10px 30px;
  }
  td {
    padding: 10px 30px;
  }
}

/* Researcher List - 연도 필터  */
.year-filter .active {
  color: #fff;
  font-weight: bold;
  background-color: #333;
}

/* Research Detail 스크롤 */
.researcher-cont-tabM {
  padding-bottom: 8px;
}
.researcher-cont-tabM::-webkit-scrollbar {
  height: 6px;
}
.researcher-cont-tabM::-webkit-scrollbar-thumb {
  background-color: #b4bcca;
  border-radius: 50px;
}
.researcher-cont-tabM::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Research Detail 탭활성화 */
.researcher-cont-tabM .active {
  color: #333;
  font-weight: bold;
  border-bottom: 1px solid #333;
}
