@charset "UTF-8";

#wrap {
  position: relative;
  min-width: 340px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Pretendard Variable", "Pretendard", "-apple-system",
    "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  color: var(--txt-color);
}

.inner {
  position: relative;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

@media (min-width: 1600px) {
  .inner {
    padding: 0 100px;
  }
}

.notScroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* color */
:root {
  --bg1-color: #e4e8f1;
  --bg2-color: #f3f5f9;
  --txt-color: #333;
  --txt-gray1: #6c7683;
  --txt-gray2: #8d9aaf;
  --txt-gray3: #b4bccc;
  --txt-blue: #376bdb;
  --key-color: #4b4dff;
  --key-light1: #6fa5f3;
  --key-light2: #ecf2ff;
}
.bg1 {
  background-color: var(--bg1-color);
}
.bg2 {
  background-color: var(--bg2-color);
}
.txt-color {
  color: var(--txt-color);
}
.txt-gray1 {
  color: var(--txt-gray1);
}
.txt-gray2 {
  color: var(--txt-gray2);
}
.txt-gray3 {
  color: var(--txt-gray3);
}
.txt-blue {
  color: var(--txt-blue);
}
.key-color {
  color: var(--key-color);
}
.key-light1 {
  color: var(--key-light1);
}
.key-light2 {
  color: var(--key-light2);
}

/* MOBILE부터 작업 */

/* 초기 상태 */
.scroll-fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
/* 애니메이션 실행 후 */
.scroll-fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* 사이드메뉴 열고닫기 */
.bkbg.open {
  opacity: 1;
  visibility: visible;
}
#sideM.open {
  right: 0;
}

/* 사이드메뉴 활성화일때 */
#sideM nav li.active {
  color: var(--key-color);
}

/* 메인 검색영역 카테고리탭 애니메이션 */
#customOptions li.active {
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* 공통버튼 */
.btn-common {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  color: #215bd8;
  font-size: 14px;
  background-color: #ecf2ff;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn-common:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.btn-common .arr {
  width: 11px;
  margin-left: 8px;
}
/* 버튼 비활성화 */
.btn-common.disabled {
  opacity: 0.5;
}

/* 공통 이미지 트랜지션 */
.img-hover {
  transition: transform 0.3s;
}
.img-hover:hover {
  transform: scale(1.1);
}

/* 공통 탭스타일 */
.tab-style {
  display: flex;
  gap: 4px;
  padding: 4px;
  color: #828293;
  background-color: #e4e8f1;
}
.tab-style li {
  border-radius: 8px;
}
.tab-style li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-style li.active {
  color: #333;
  background-color: #fff;
}

/* 2줄 말줄임 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .research-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .reserch-highlight-swiper .swiper-slide {
    opacity: 0.5;
  }
  .reserch-highlight-swiper .swiper-slide-active {
    opacity: 1;
  }
}

.reserch-highlight-pagination span {
  width: 10px;
  height: 10px;
  background: #e4e8f1;
  opacity: 1;
}
.reserch-highlight-pagination .swiper-pagination-bullet-active {
  background: #4b4dff;
}

@media screen and (min-width: 1440px) {
  .reserch-highlight-pagination span {
    width: 11px;
    height: 11px;
  }
}

/* 줌버튼 비활성화 */
.disabled {
  opacity: 0.5;
}

/* 페이지 나눠졌을때 */
.flexPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width:1024px) {
  .flexPage {
    gap: 50px;
  }
}

/* 번위 슬라이더 */
.noUi-target {
  background: #e4e8f1;
  height: 4px;
  border-radius: 4px;
  border: none;
}

.noUi-connect {
  background-color: #4b4dff;
}

.noUi-handle {
  width: 16px !important;
  height: 16px !important;
  border: 2px solid #4b4dff !important;
  background: #fff !important;
  border-radius: 50%;
  box-shadow: none;
  top: -6px;
  transform: translateX(-50%);
  cursor: pointer;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

/* Journal List 타입별 */
.type-jcr {
  color: #532eb3;
}
.type-scopus {
  color: #f3652d;
}
.type-kci {
  color: #376bdb;
}

.regist-tpye-scie {
  color: #8d6de2;
  background-color: #ede7ff;
}
.regist-tpye-scopus {
  color: #f3652d;
  background-color: #ffe9e9;
}
.regist-tpye-kci {
  color: #376bdb;
  background-color: #ecf2ff;
}
.regist-tpye-ssci {
  color: #8d6de2;
  background-color: #ede7ff;
}

/* 저널리스트 그래프 열고닫기 */
.journal-graph-cont {
  overflow: hidden;
  transition: height 0.4s ease;
}

.journal-graph-cont.open {
}

/* 관심버튼 */
.intrest.active .interest-default {
  display: none;
}
.intrest.active .interest-active {
  display: block;
}
.intrest.active:hover .interest-hover {
  display: none;
}

/* 테이블 */
table {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
thead {
  border-top: 1px solid #e4e8f1;
  border-bottom: 1px solid #e4e8f1;
  background-color: #f3f5f9;
}
tbody {
}
tr {
}
tbody tr {
  border-bottom: 1px solid #e4e8f1;
}
th {
  padding: 10px 20px;
  color: #8d9aaf;
  font-weight: 500;
  white-space: nowrap;
}
td {
  padding: 10px 20px;
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  th {
    padding: 10px 30px;
  }
  td {
    padding: 10px 30px;
  }
}

/* Researcher List - 연도 필터  */
.year-filter .active {
  color: #fff;
  font-weight: bold;
  background-color: #333;
}

/* Research Detail 스크롤 */
.researcher-cont-tabM::-webkit-scrollbar {
  height: 6px;
}
.researcher-cont-tabM::-webkit-scrollbar-thumb {
  background-color: #b4bcca;
  border-radius: 50px;
}
.researcher-cont-tabM::-webkit-scrollbar-track {
  background-color: #fff;
}

/* 탭활성화 */
.tabM .active {
  color: #333;
  font-weight: bold;
}
.tab-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.tab-wrapper > div {
  position: relative;
}
.tab-wrapper > div::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
}
.tab-wrapper > div.active::after {
  display: block;
}
.tab-wrapper > div:hover::after {
  display: block;
}
.tabM-cont > div {
  display: none;
}
.tabM-cont .active {
  display: block;
}

@media (max-width: 768px) {
  .tab-wrapper {
    scroll-snap-type: x mandatory;
  }

  .tab-wrapper > div {
    scroll-snap-align: start;
  }
}

/* Departments List - 단대별로 찾기 활성화 */
.college-find .active {
  font-weight: bold;
  color: #fff;
  background-color: #555;
}
/* Departments Detail - researcher 탭내 카테고리 */
.researcher-cate .active {
  color: #fff;
  background-color: #555;
}

/* 게시판 리스트 */
.noti-table {}
.noti-table table {
  display: block;
  width: 100%;
  border-top: 1px solid #E4E8F1;
}
.noti-table thead {
  display: none;
}
.noti-table thead tr {}
.noti-table thead th {}
.noti-table tbody {}
.noti-table tbody tr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0;
  cursor: pointer;
}
.noti-table tbody td {
  padding: 0;
  text-align: left;
  white-space: wrap;
}
.noti-table .no {
  display: none;
}
.noti-table .tit a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.noti-table .tit .type {
  height: 22px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border: 1px solid #E4E8F1;
  border-radius: 4px;
}
.noti-table .tit .type.news {
  color: #009944;
}
.noti-table .tit .type.notice {
  color: #4B4DFF;
}
.noti-table .tit .tit-wrapper {
  min-width: 0;
  max-width: 100%;
  line-height: 100%;
  white-space: nowrap;
}
.noti-table .tit .tit-txt {
  /* max-height: 30px; */
  font-size: 14px;
  font-weight: 600;
  color: #555;
  white-space: wrap;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}
.noti-table .tit .new {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 8px;
  text-align: center;
  line-height: 12px;
  color: #fff;
  font-weight: bold;
  background-color: #F3652D;
  border-radius: 50%;
}
.noti-table .date {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  color: #b4bccc;
}

@media (min-width:1024px) {
  .noti-table .no {
    width: 60px;
    text-align: center;
  }
  .noti-table .date {
    width: 100px;
    text-align: center;
  }
  .noti-table thead {
    display: block;
  }
  .noti-table thead tr {
    display: flex;
    align-items: center;
    height: 34px;
    background-color: #F3F5F9;
  }
  .noti-table thead th {
    padding: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #555;
  }
  .noti-table thead th.tit {
    display: flex;
    justify-content: center;
  }
  .noti-table thead th.date {
    color: #555;
  } 
  .noti-table tbody {
    display: block;
  }
  .noti-table tbody tr {
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 0;
  }
  .noti-table tbody td {}
  .noti-table .no {
    display: block;
  }
  .noti-table .tit {
    width: calc(100% - 160px);
    padding: 0 20px;
    overflow: hidden;
  }
  .noti-table .tit a {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .noti-table .tit .type {
    flex-shrink: 0;
    width: 55px;
    height: 25px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
  }
  .noti-table .tit .tit-txt {}
  .noti-table .tit .tit-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .noti-table .tit .tit-txt {
    display: inline-block;
    width: 100%;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .noti-table .date {
    margin-top: 0;
  }
}

/* qna 토글시 활성화 */
.q-box.active .btn-more img {
  transform: rotate(180deg);
}
.a-box.open {
  max-height: 2000px;
  border-top: 1px solid #E4E8F1;
}

/* Highlight List 2 - 리스트 호버시 이미지크기 */
@media (min-width:1024px) {
  .highlight-list-item:hover .highlight-list-img img {
    transform: scale(1.1);
  }
}
/* Highlight List 2 - 맨아래설명 pc에서 2줄 말줄임으로 변경 */
@media (min-width:768px) {
  .highlight-list-item h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
@media (min-width:1024px) {
  .highlight-list-item .text-line-3 {
    -webkit-line-clamp: 2;
  }
}
/* 말줄임 */
/* 1줄 */
.text-line-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* 2줄 */
.text-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* 3줄 */
.text-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* 마이페이지 왼쪽 메뉴바 활성화 */
.mypage-left-menu li.active {
  background-color: #F3F5F9;
}
.mypage-left-menu li.active .arr {
  display: block;
}